<!DOCTYPE html>
<html>
  <head>
    <%- include("/partials/head"); %>
  </head>
  <body class="container-fluid">
    
    <div class="row">
      <div class="col-sm-2">
        <header>
          <%- include("/partials/nav"); %>
        </header>
      </div>
      <div class="col-sm-10">

      </div>
    </div>

    <footer>
      <%- include("/partials/footer"); %>
    </footer>
  </body>
</html>
